vault/.obsidian/workspace.json
vault/.obsidian/workspaces.json
vault/.obsidian/graph.json
vault/.obsidian/vault-stats.json
vault/.obsidian/plugins/recent-files-obsidian/data.json
**/.DS_Store
**/node_modules/
**/dist/
